# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore parcel cache directory
.parcel-cache/

# Optional: Ignore package-lock.json if you don't want it tracked
package-lock.json